.App {
  text-align: center;
}
.screen{
  background-color: white;
  border: 3px solid black;
  height: 405px;
}
.keypad{
  background-color: darkgray;
  border: 3px solid black;
  height: 405px;
}
.jumbotron{
  height: 500px;
}
.content{
  height: 405px;
}
h1{
  text-align: left;
}
h4{
  text-align: center;
}
.menu-buttons{
  margin-top: 25%;
}
.btn-default{
  width: 200px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  background-color: deepskyblue;
  color: white;
}

.button-row{
  display: inline-block;
  margin-left: 65px;
  margin-top: 10px;
}
.keypad-buttons{
  height: 55px;
  width: 55px;
  border: none;
}
.current-balance{
  margin-left: 10px;
}



